<div class="row">
  <div class="col-md-9 col-sm-9 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Lista de tareas</h2>
        <ul class="nav navbar-right panel_toolbox">
          <li>
            <a class="collapse-link">
              <i class="fa fa-plus-square icon-20" data-toggle="modal" data-target="#myModal"></i>
            </a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <input ng-model="searchTask" tabindex="0" aria-invalid="false" type="text" class="form-control" placeholder="Filtrar tarea..." style="border-radius: 5px;">
        <!-- task list -->
        <div class="table-responsive">
        <table class="table table-striped responsive-utilities">
            <thead>
              <tr>
                <th>Modulo</th>
                <th>Nombre</th>
                <th>Urgencia</th>
                <th>Fecha comprometida</th>
                <th>Accion</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="tdTask in tasks | filter: (vm.client || '') && {client: {id : vm.client}} | filter:{$:searchTask}">
                <td>
                  {{ tdTask.task.module.tag }}
                </td>
                <td>
                  <div id="tasktitle">
                    <a href="#/task/{{tdTask.task.id}}" >{{tdTask.task.title}}</a>
                  <br />
                  <small>Creada el {{tdTask.task.creation_date | moment:'DD/MM/YYYY'}}</small>
                  </div>
                </td>
                <td>
                  <span class="btn btn-xs" ng-class="{
                              'ur-red'    : tdTask.task.urgency.id == 4,
                              'ur-yellow' : tdTask.task.urgency.id == 3,
                              'ur-green'  : tdTask.task.urgency.id == 2,
                              'ur-black'  : tdTask.task.urgency.id == 1,
                              }">{{ tdTask.task.urgency.name }}</span>
                </td>
                <td ng-if="tdTask.task.finish_date">
                  {{ tdTask.task.finish_date | moment:'DD/MM/YYYY'}}
                </td>
                <td ng-if="!tdTask.task.finish_date">
                  n/a
                </td>
                <td>
                  <a ng-click="" href="" class="btn btn-info btn-xs">
                    <i class="fa fa-pencil"></i>
                  </a>
                  <a confirmed-click="deleteTask(tdTask.task.id)" ng-confirm-click="Desea borrar la tarea?" class="btn btn-danger btn-xs">
                    <i class="fa fa-trash-o"></i>
                  </a>
                </td>
              </tr>
            </tbody>
        </table>
        <!-- task list -->
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-3 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Referentes</h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <div style="padding-right: 20px;">
          <input ng-model="searchReferent" tabindex="0" aria-invalid="false" type="text" class="form-control" placeholder="Filtrar..." style="margin-left: 10px;border-radius: 5px;">
          <br>
        </div>
        <div ng-repeat="client in clients | orderBy:['organization','lastname','firstname'] | filter:{$:searchReferent}" class="animated flipInY col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div ng-click="vm.client = client.id" ng-class="{ marcado: vm.client === client.id }" class="tile-stats padd-top">
            <h2>{{client.name}} {{client.lastname}}</h2>
            <p>{{client.organization.name}}</p>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <form ng-submit="newTask()"> 
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Nueva tarea</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <label for="title">Titulo :</label>
                  <input required type='text' class="form-control" ng-model="task.title" id="title">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6">
                <div class="form-group">
                  <label for="moduleSelect">Modulo :</label>
                  <select required name="moduleSelect" id="moduleSelect" ng-model="task.module" class="form-control">
                    <option ng-repeat="optM in modules" value="{{optM.id}}">{{optM.tag}} - {{optM.name}}</option>
                  </select>
                </div>
              </div>
              <div class="col-xs-6">
                <div class="form-group">
                  <label for="clientSelect">Referente :</label>
                  <select required name="clientSelect" id="clientSelect" ng-model="task.client" class="form-control">
                    <option ng-repeat="option in clientsM" value="{{option.id}}">{{option.name}} {{option.lastname}}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6">
                <div class="form-group">
                  <label for="urgencySelect">Urgencia :</label>
                  <select required name="urgencySelect" id="urgencySelect" ng-model="task.urgency" class="form-control">
                    <option ng-repeat="ur in urgency" value="{{ur.id}}">{{ur.name}}</option>
                  </select>
                </div>
            </div>
              <div class="col-xs-6">
                <div class="form-group">
                  <label for="estimation_hours">Horas estimadas:</label>
                  <input type='text' class="form-control" ng-model="task.estimation_hours" id="estimation_hours">
                </div>
              </div>
            </div>  
              <div class="row">
                <div class="col-xs-6">  
                  <div class="form-group">
                    <label for="start_date">Fecha de comienzo :</label>
                    <input type='text' class="form-control" ng-model="task.start_date" id="start_date" jqdatepicker format="yy-mm-dd"> 
                  </div>
                </div>
                <div class="col-xs-6">  
                  <div class="form-group">
                    <label for="finish_date">Fecha de finalizacion :</label>
                    <input type="text" class="form-control" ng-model="task.finish_date" id="finish_date" jqdatepicker format="yy-mm-dd">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-6"> 
                  <div class="form-group">
                    <label for="description">Descripcion :</label>
                    <input type='text' class="form-control" ng-model="task.description" id="description">
                  </div>
                </div> 
                <div class="col-xs-6"> 
                  <div class="form-group">
                    <label for="sar">Sar :</label>
                    <input type='text' class="form-control" ng-model="task.sar" id="sar">
                  </div>
                </div> 
              </div>
              <div class="row">
                <div class="col-xs-6"> 
                  <div class="form-group">
                    <label for="turnover_code">Codigo de turnover :</label>
                    <input type='text' class="form-control" ng-model="task.turnover_code" id="turnover_code">
                  </div>
                </div>
                <div class="col-xs-6"> 
                  <div class="form-group">
                    <label for="priority">Orden :</label>
                    <input type='text' class="form-control" ng-model="task.priority" id="priority">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-6"> 
                  <label for="statusSelect">Estado :</label>
                  <select required name="statusSelect" id="statusSelect" ng-model="task.status" class="form-control">
                    <option ng-repeat="status in Tstatus" value="{{status.id}}">{{status.name}}</option>
                  </select>
                </div>
                <div class="col-xs-6"> 
                </div>    
              </div>
          </div>
          <div class="modal-footer">
            <button ng-click="ok()" class="btn btn-info" type="submit">Guardar</button>
            <button ng-click="cancel()" data-dismiss="modal" class="btn btn-default">Cerrar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>